<div class="center jumbotron">
  <h1>SampleApp</h1>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample apprication.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png",alt:"Rails logo"),'http://rubyonrails.org/' %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>











